body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e5e5e5 !important;
	padding-bottom: 1rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.like:hover {
	color: blue !important;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	overflow: hidden;
}

.__container {
	margin: 0 auto;
	max-width: 1440px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.grid-item {
	width: 300px;
}

@media (max-width: 1300px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 980px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 650px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
