body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e5e5e5 !important;
	padding-bottom: 1rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.like:hover {
	color: blue !important;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.grid-item {
	width: 300px;
}

@media (max-width: 1400px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 990px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 770px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.mob {
		visibility: hidden;
		width: 60px;
	}
	.mobmax {
		display: block;
		color: #000;
		text-decoration: none;
		padding: 4px 0 4px 1rem;
	}
	.mobmax:hover {
		background-color: rgb(230, 230, 230);
		color: #000;
		text-decoration: none;
	}
}
@media (min-width: 771px) {
	.mobmax {
		visibility: hidden;
		display: none;
	}
}
